* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#page-top {
  background-color: #151931;
  height: 698px; }

nav {
  position: fixed;
  width: 100%;
  height: 80px;
  text-align: center; }
  nav ul {
    margin: 34px 0; }
    nav ul li {
      list-style: none;
      margin: 0 50px;
      display: inline;
      text-transform: uppercase; }
      nav ul li a {
        text-decoration: none;
        color: #616382;
        font-family: Arial; }
      nav ul li a:hover, nav ul li a:focus {
        color: #ffffff;
        outline: none; }
      nav ul li .active {
        color: white;
        padding-bottom: 4px;
        border-bottom: 2px solid red; }

#heading {
  text-align: center;
  color: #ffffff;
  font-size: 60px;
  font-family: 'Noto Serif', serif;
  font-weight: 100;
  position: relative;
  top: 160px; }

#sub-heading {
  text-align: center;
  color: #c2002e;
  font-family: Arial;
  font-weight: 100;
  position: relative;
  top: 160px;
  text-transform: uppercase;
  letter-spacing: 17px; }

#credit {
  text-align: center;
  color: #ffffff;
  font-family: Arial;
  font-style: italic;
  font-weight: 100;
  position: relative;
  top: 200px; }

#top-img {
  height: 436px;
  width: 100%;
  margin-top: 180px; }
