$color1: #616382;

$color2: #c2002e;

$color3: #ffffff;

$topbg: #151931;

$background: #f6f6f7;

$footerbg: #000612;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#page-top {
    background-color: $topbg;
    height: 698px;
}

nav {

    position: fixed;
    width: 100%;
    height: 80px;
    text-align: center;
    
    ul {

        margin: 34px 0;

        li {
            list-style: none;
            margin: 0 50px;
            display: inline;
            text-transform: uppercase;

            a { 
                text-decoration: none;
                color: $color1;
                font-family: Arial;
            }

            a:hover,a:focus {
                color: $color3;
                outline: none;
            }

            .active {
                color: white;
                padding-bottom: 4px;
                border-bottom: 2px solid red;
            }
        }
    }

}

#heading {
    text-align: center;
    color: $color3;
    font-size: 60px;
    font-family: 'Noto Serif', serif;
    font-weight: 100;
    position: relative;
    top: 160px;
}

#sub-heading {
    text-align: center;
    color: $color2;
    font-family: Arial;
    font-weight: 100;
    position: relative;
    top: 160px;
    text-transform: uppercase;
    letter-spacing: 17px;
}

#credit {
    text-align: center;
    color: $color3;
    font-family: Arial;
    font-style: italic;
    font-weight: 100;
    position: relative;
    top: 200px;
}

#top-img {
    height: 436px;
    width: 100%;
    margin-top: 180px;
}